*{
	padding:0;
	margin:0;
}

#wrapper{
	width:100%;
	margin:0 auto;
}

#nav{
	margin-left:30%; 
	line-height:25px;
	background-color:#352F2F;
	width:500px; 
	position:fixed;
	top:2px; 
	text-align:center;
	border-radius:5px; 
	margin-bottom:10px;
	text-align:center; 
}

.refer{
	color:white;
	text-decoration:none;
	font-family:Impact, Charcoal, sans-serif;
	margin:3px 20px 3px 20px;  
}

#border{
	padding-right:45px; 
	border-right:1px solid white; 
}

#button{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:white;
	border-radius:2px solid white;
}

#button h2{
	float:left;
	margin-top:140px;
	margin-left:100px;
	padding:10px; 
	border:1px solid white;
	border-radius:5px;    
}

#button p {
	float:left;
	width:300px; 
	margin-top:80px;
	margin-left:170px;     
}

#content1{
	height:800px; 
	background-image:url("../imgs/fondo1.jpg"); 
	background-size:100%;
	background-repeat:no-repeat;  
}

#content2{
	height:900px; 
	background-image:url("../imgs/fondo2.jpg"); 
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#content3{
	height:900px; 
	background-image:url("../imgs/fondo3.jpg"); 
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#content4{
	height:900px; 
	background-image:url("../imgs/fondo4.jpg"); 
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#content5{
	height:880px; 
	background-image:url("../imgs/fondo5.jpg"); 
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}


#foot{
	background-color:black;
	text-align:center;  
	color:white;
	position:relative; 
	bottom:;
}

#foot a{
	text-decoration:none; 
	color:#65D5E9;
}

.clear{
	clear:both;
}